<% if tweet.review_details? %>
  <div class="review-details large-12 columns">
    <!-- <div class="album-details">
      <% if tweet.artist %>
        <div>
          <strong><%= tweet.artist %></strong>
        </div>
      <% end %>
      <% if tweet.album %>
        <div><%= tweet.album %></div>
      <% end %>
      <% if tweet.rating %>
        <div>
          <strong>Rating:</strong>
          <%= tweet.rating %>
        </div>
      <% end %>
      <% if user_tweet?(tweet) %>
        <%= link_to 'Edit', edit_tweet_review_path(tweet.tweet_review) %>
      <% end %>
    </div> -->
  </div>
<% elsif user_tweet?(tweet) %>
  <% if tweet.rating %>
    <div>
      <strong>Rating:</strong>
      <%= tweet.rating %>
    </div>
  <% end %>
  <div class="large-12 columns">
    <%= link_to 'Add review details', new_tweet_review_path(tweet_id: tweet.id) %>
  </div>
<% else %>
  <% if tweet.rating %>
    <div class="large-12 columns">
      <strong>Rating:</strong>
      <%= tweet.rating %>
    </div>
  <% end %>
<% end %>
