<div class="tweet-review row">
  <div class="large-1 medium-2 small-2 columns">
    <img class='twitter-profile-image' align="left" src="<%= tweet.user.profile_image_uri(:bigger) %>" />
  </div>
  <div class="large-11 medium-10 small-10 columns">
    <div class="tweet-title row">
      <div class="large-10 columns">
        <div class='twitter-name'><%= tweet.user.name %></div>
        <div class='twitter-username'>
          <%= link_to "@#{tweet.user.screen_name}", reviewer_path(tweet.user.screen_name) %>
        </div>
      </div>
      <div class="reviewed-on">
        <%= tweet.created_at.to_date.to_formatted_s(:long_ordinal) %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="tweet-text">
          <%= link_recommender(remove_hashtag_and_rating(tweet.text)).html_safe %>
        </div>
        <% if tweet.review_tweet? %>
          <div class="review-text">
            <%= link_recommender(remove_hashtag_and_rating(tweet.review_text)).html_safe %>
          </div>
        <% end %>
      </div>
    </div>

    <% if tweet.rating %>
      <div class="review-rating row">
        <div class="large-12 columns">
          <strong>Rating:</strong>
          <%= tweet.rating %>
        </div>
      </div>
    <% end %>

    <% if tweet.listen_source %>
      <div class="row listen-embed">
        <div class="large-12 columns">
          <%= render partial: "tweets/#{tweet.listen_source.source}", locals: {tweet: tweet} %>
        </div>
      </div>
    <% end %>
    <% if user_tweet?(tweet) %>
      <div class="row">
        <div class="large-12 columns">
          <% if tweet.review_details? %>
            <%= link_to 'Edit review details', edit_tweet_review_path(tweet.tweet_review) %>
          <% else %>
            <%= link_to 'Add review details', new_tweet_review_path(tweet_id: tweet.id) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
