<div class="row">
  <div class="large-12 columns">
    <% @tweets.each do |tweet| %>
      <div class="tweet-review row">
        <div class="large-1 medium-2 small-2 columns">
          <img class='twitter-profile-image' align="left" src="<%= tweet.user.profile_image_uri %>" />
        </div>
        <div class="large-11 medium-10 small-10 columns">
          <div class="row">
            <div class="large-10 columns">
              <strong><%= tweet.user.name %></strong>
              <span class='twitter-screenname'>@<%= tweet.user.username %></span>
            </div>
            <div class="reviewed-on">
              <%= tweet.created_at.to_date.to_formatted_s(:long_ordinal) %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <div class="tweet-text">
                <%= remove_hashtag_and_rating(tweet.text).html_safe %>
              </div>
              <% if tweet.review_tweet? %>
                <div class="review-text">
                  <div class="vertical-line"></div>
                  <div class="horizontal-line"></div>
                  <%= remove_hashtag_and_rating(tweet.review_text).html_safe %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="rating large-12 columns">
              <strong>Rating:</strong>
              <%= tweet.rating || 'None' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
