<div class="unclaimed-tweet row">
  <div class="large-12 columns">
    <div class="tweet-review row">
      <div class="large-1 medium-2 small-2 columns">
        <img class='twitter-profile-image' align="left" src="<%= @tweet.user.profile_image_uri %>" />
      </div>
      <div class="large-11 medium-10 small-10 columns">
        <div class="row">
          <div class="large-10 columns">
            <div class='twitter-name'><%= @tweet.user.name %></div>
            <div class='twitter-username'>@<%= @tweet.user.screen_name %></div>
          </div>
          <div class="reviewed-on">
            <%= @tweet.created_at.to_date.to_formatted_s(:long_ordinal) %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="tweet-text">
              <%= remove_hashtag_and_rating(@tweet.text).html_safe %>
            </div>
            <% if @tweet.review_tweet? %>
              <div class="review-text">
                <div class="vertical-line"></div>
                <div class="horizontal-line"></div>
                <%= remove_hashtag_and_rating(@tweet.review_text).html_safe %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= simple_form_for @tweet_review do |f| %>
      <%= f.input :tweet_id, as: :hidden %>
      <%= f.input :rating, collection: rating_options, prompt: "Rate the album", selected: @tweet.rating.try(:value) %>
      <%= f.input :artist %>
      <%= f.input :album %>
      <div class="row">
        <div class="large-10 medium-10 small-8 columns">
          <%= f.input :listen_url, value: @tweet_review.listen_url %>
        </div>
        <div class="large-2 medium-2 small-4 columns">
          <a id="listen_auto_fill" class="button" href="javascript:;">Auto-fill</a>
        </div>
      </div>
      <div id="album_results_container">
        <div id="album_loader">
          <%= image_tag 'loader.gif' %>
        </div>
        <div id="album_loader_error">
          <strong class="error">There was an error. Please try again.</strong>
        </div>
        <div id="album_results"></div>
      </div>
      <%= f.button :submit %>
      <%= link_to 'Back', root_path %>
    <% end %>
  </div>
</div>
