<div class="tweet-review row">
  <div class="large-1 medium-2 small-2 columns">
    <img class='twitter-profile-image' src="<%= @jsc_tweet.profile_image_uri %>" />
  </div>
  <div class="large-11 medium-10 small-10 columns">
    <div class="tweet-title row">
      <div class="large-10 columns">
        <div class='twitter-name'><%= @jsc_tweet.user_name %></div>
        <div class='twitter-username'>
          <%= link_to "@#{@jsc_tweet.screen_name}", reviewer_path(@jsc_tweet.user) %>
        </div>
      </div>
      <div class="reviewed-on">
        <%= @jsc_tweet.tweeted_on.to_formatted_s(:long_ordinal) %>
      </div>
    </div>
    <div class="row">
      <div class="review large-12 columns">
        <div class="review-text-container">
            <p class="tweet-text">
              <%= link_recommender(remove_hashtag_and_rating(@jsc_tweet.text)).html_safe %>
            </p>
            <% if @jsc_tweet.two_part? %>
              <p class="tweet-reply">
                <%= link_recommender(remove_hashtag_and_rating(@jsc_tweet.review_text)).html_safe %>
              </p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= simple_form_for @tweet_review do |f| %>
      <%= f.input :tweet_id, as: :hidden %>
      <%= f.input :twitter_status_id, as: :hidden %>
      <%= f.input :rating, collection: rating_options, prompt: "Rate the album", selected: @tweet_review.rating.value %>
      <%= f.input :artist %>
      <%= f.input :album %>
      <%= f.input :genre %>
      <%= f.input :album_of_the_month, as: :boolean %>
      <%= hidden_field(:tweet_review, :sync, value: false) %>
      <div class="row">
        <div class="large-9 medium-9 small-7 columns">
          <%= f.input :listen_url, value: @tweet_review.listen_url %>
        </div>
        <div class="large-3 medium-3 small-5 columns">
          <a id="listen_auto_fill" class="button float-right" href="javascript:;">Auto-fill</a>
        </div>
      </div>
      <div id="album_results_container">
        <div id="album_loader">
          <%= image_tag 'loader.gif' %>
        </div>
        <div id="album_loader_error">
          <strong class="error">There was an error. Please try again.</strong>
        </div>
        <div id="album_results"></div>
      </div>
      <%= f.button :submit, "#{params[:action] == 'new' ? 'Create' : 'Update'} Tweet Review" %>
      <%= f.button :submit, "#{params[:action] == 'new' ? 'Create' : 'Update'} Tweet Review and Sync", id: 'sync_button' %>
      <%= link_to 'Back', root_path %>
    <% end %>
  </div>
</div>
