<div id="tweet_review_<%= tweet_review.id %>" class="tweet-review tweet-review-item row">
  <div class="large-1 medium-2 small-2 columns">
    <%= link_to user_path(tweet_review.user) do %>
      <img class='user-profile-image' src="<%= tweet_review.profile_image_uri %>" />
    <% end %>
  </div>
  <div class="large-11 medium-10 small-10 columns">
    <div class="tweet-title row">
      <div class="large-10 columns">
        <div class='user-name'>
          <%= link_to tweet_review.user_name, user_path(tweet_review.user) %>
        </div>
        <div class='twitter-username'>
          <%= link_to "@#{tweet_review.screen_name}", user_path(tweet_review.user) %>
        </div>
      </div>
      <div class="reviewed-on">
        <%= tweet_review.reviewed_on.to_formatted_s(:long_ordinal) %>
      </div>
    </div>
    <div class="row">
      <div class="review large-12 columns">
        <div class="review-text-container <%= 'no-embed' unless tweet_review.listen_source %>">
          <% if tweet_review.two_part? %>
            <p class="tweet-text">
              <%= link_recommender(remove_hashtag_and_rating(tweet_review.text)).html_safe %>
            </p>
            <% if tweet_review.rating %>
              <%= render partial: 'feed_items/rating_badge', locals: {tweet_review: tweet_review} %>
            <% end %>
            <p class="tweet-reply">
              <%= link_recommender(remove_hashtag_and_rating(tweet_review.review_text)).html_safe %>
            </p>
          <% else %>
          <% if tweet_review.rating %>
            <%= render partial: 'feed_items/rating_badge', locals: {tweet_review: tweet_review} %>
          <% end %>
            <p class="tweet-text">
              <%= link_recommender(remove_hashtag_and_rating(tweet_review.text)).html_safe %>
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <% if tweet_review.listen_source %>
      <% if tweet_review.genre %>
        <div class="row genre">
          <div class="large-12 columns">
            <em><%= tweet_review.genre %></em>
          </div>
        </div>
      <% end %>

        <div class="row listen-embed">
          <div class="large-12 columns">
            <%= render partial: "/feed_items/embeds/#{tweet_review.listen_source.source}", locals: {review: tweet_review} %>
          </div>
        </div>
    <% else %>
      <div class="row genre">
        <div class="large-12 columns">
          <strong><%= tweet_review.artist %></strong>
          &mdash;
          <span>"<%= tweet_review.album %>"</span>
          &mdash;
          <em><%= tweet_review.genre %></em>
        </div>
      </div>
    <% end %>

    <% if can_edit?(tweet_review) %>
      <div class="row">
        <div class="large-12 columns">
          <%= link_to 'Edit review details', edit_tweet_review_path(tweet_review.tweet_review) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
