<% if twitter_user? %>
  <div class="large-12 columns">
    <div class="row">
      <h4 class="sidebar-title columns">Your Recent Tweets</h4>
    </div>
    <div id="recent_tweets" class="row">
      <div class="columns">
        <% recent_tweets.each do |tweet| %>
          <div class="tweet-review row">
            <div class="large-2 medium-2 small-2 columns">
              <img class='twitter-profile-image' src="<%= tweet.profile_image_uri %>" />
            </div>
            <div class="large-10 medium-10 small-10 columns">
              <div class="tweet-title row">
                <div class="large-10 columns">
                  <div class='twitter-name'><%= tweet.user_name %></div>
                  <div class='twitter-username'>
                    <%= link_to "@#{tweet.screen_name}", reviewer_path(tweet.screen_name) %>
                  </div>
                </div>
                <div class="reviewed-on">
                  <%= tweet.tweeted_on.to_formatted_s(:long_ordinal) %>
                </div>
              </div>
              <div class="row">
                <div class="review large-12 columns">
                  <div class="review-text-container">
                      <p class="tweet-text">
                        <%= link_recommender(remove_hashtag_and_rating(tweet.text)).html_safe %>
                      </p>
                      <% if tweet.two_part? %>
                        <p class="tweet-reply">
                          <%= link_recommender(remove_hashtag_and_rating(tweet.review_text)).html_safe %>
                        </p>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
