<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "JulySoundcheck" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href='https://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
      <div class="row">
        <div class="large-12 columns">
          <h1>JulySoundcheck</h1>
          <div id="twitter_auth">
            <% if twitter_user %>
              <%= form_tag '/signout', method: 'delete' do %>
                <button  id="sign_out">Sign Out</button>
              <% end %>
            <% else %>
              <%= form_tag '/auth/twitter', method: 'get' do %>
                <button id="sign_in">Sign In</button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <div id="main">
      <% if notice %>
        <div class="callout">
          <p id="notice"><%= notice %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
