<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row">
      <div class="large-12 columns">
        <h1>JulySoundcheck</h1>
      </div>
    </div>

    <% if notice %>
      <div class="row">
        <div class="large-12 columns">
          <div class="callout">
            <p id="notice"><%= notice %></p>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
