<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "JulySoundcheck" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href='https://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
      <div class="row">
        <div class="large-8 columns">
          <h1>JulySoundcheck</h1>
          <div id="twitter_auth">
            <% if twitter_user %>
              <%= form_tag '/signout', method: 'delete' do %>
                <button  id="sign_out">Sign Out</button>
              <% end %>
            <% else %>
              <%= form_tag '/auth/twitter', method: 'get' do %>
                <button id="sign_in">Sign In</button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <div id="main">
      <div class="row">
        <div class="large-8 columns">
          <% if notice %>
            <div id="notice" class="row">
              <div class="large-12 columns">
                <p><%= notice %></p>
              </div>
            </div>
          <% end %>

          <%= yield %>
        </div>
        <div id="logo-sidebar" class="large-4 columns">
          <%= image_tag 'logo.png' %>
        </div>
      </div>
    </div>

  </body>
</html>
